.remark-slide .remark-slide-content {
	padding: 1em 1.25em;
}

.remark-slide-content {
}



body {
	font-size: 1.5em;
}

p {
	font-size: 1.1em;
	margin: 0.7em 0 0.4em 0;
}

pre code, .codeTable {
	font-size: 0.85em;
	background-color: #f8f8ff;
}

.remark-slide code {
	background: #f8f8ff;
}

.smallCode {
	font-size: 0.8em;
}

a {
	text-decoration: none;
}

.rightFloat {
	margin-top: 10.8em;
	float: right;
}

.leftFloat {
	margin-top: 10.8em;
	float: left;
}

.footnote {
	margin-top: 30px;
	font-size: 0.5em;
}

ul {

}

.intro h1 {
	margin-top: 4em;
	line-height: 1.2em;
}

.transition, .transition p {
	color: rgb(255, 255, 255);
}

.transition {
	background-color: rgb(76, 102, 164);
	font-size: 0.8em;
	line-height: 1.7em;
}

.remark-slide-number { 
	display: none;
}

.transition .remark-slide-number {
	font-size: 1.25em;
}

.transition a {
	color: rgb(255, 255, 255);
}

.transition img {
	border:1px solid white;
	margin: 0.5em 0;
}

.xkcd img {
	width: 230px;
	border-radius: 10px;
}

.morpheus img {
	width: 250px;
	border-radius: 10px;
}

.boromir img {
	width: 400px;
	border-radius: 10px;
}

.toy_story img {
	width: 400px;
	border-radius: 10px;
}

body {
	font-family: arial, sans-serif;
	font-weight: 400;
}

ul {
	margin-bottom: 1.3em;
}

h1,h2,h3 {
	font-family: arial, sans-serif;
	font-weight: 400;
	margin: 5px 0px;
}

h1,h2 {
	color: rgb(255, 255, 255);
	background-color: rgb(76, 102, 164);
	border-radius: 10px;
	padding: 5px 10px;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}


.slide .content {
	padding: 10px 90px !important;
}

#slideshow .no-highlight {
	font-size: 1em !important;
}

blockquote {
	font-style: italic;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
}

blockquote:before {
	opacity: 0.8;
	display: block;
	content: "\201C";
	font-size: 3em;
	position: absolute;
	left: -20px;
	top: -20px;
}

blockquote cite {
	opacity: 0.8;
	font-size: 1em;
	display: block;
	margin-top: 5px;
}

blockquote cite:before {
	content: "\2014 \2009";
}

/* Two-column layout */
.left-column {
	width: 50%;
	float: left;
}

.right-column {
	width: 50%;
	float: right;
}

code {
	-moz-border-radius: 5px;
	-web-border-radius: 5px;
	background: #e7e8e2;
	border-radius: 5px;
}

.inverse {
	background: #A60A17;
}

/* slides */
.bg-red {
	background: #A60A17;
}

.bg-dark {
	color: white;
	text-shadow: 0 0 20px #333;
}