.remark-slide .remark-slide-content {
	padding: 1em 1.25em;
}

.remark-slide-content {
}

body {
	font-size: 1.5em;
}

p {
	font-size: 1.2em;
	margin: 0.7em 0 0.4em 0;
}

code {
	font-size: 0.88em;
	background-color: #FFFFFF !important;
}

.remark-code {
	font-size: 0.85em;
}

.hljs-title {
  color: #000000 !important;
}

.hljs-params {
  color: #000000 !important;
}

.hljs-magula .hljs-comment {
	color: #676767;
}

code {
  font-weight: bold;
}

pre code, .codeTable {
	background-color: #FFFFFF;
}

.codeTable {
	font-size: 0.95em;
}

.remark-slide code {
	background: #FFFFFF;
}

.smallCode pre div {
	font-size: 0.85em; 
}

a {
	text-decoration: none;
}

.rightFloat {
	margin-top: 8.0em;
	float: right;
}

.leftFloat {
	margin-top: 8.0em;
	float: left;
}

.footnote {
	margin-top: 30px;
	font-size: 0.5em;
}

ul {

}

.intro h1 {
	margin-top: 4em;
	line-height: 1.2em;
}

.transition, .transition p {
	color: rgb(255, 255, 255);
}

.transition {
	background-color: rgb(76, 102, 164);
	font-size: 0.8em;
	line-height: 1.7em;
}

.remark-slide-number {
	display: none;
}

.transition .remark-slide-number {
	font-size: 1.25em;
}

.transition a {
	color: rgb(255, 255, 255);
}

.transition img {
	border:1px solid white;
	margin: 0.5em 0;
}

.xkcd img {
	width: 230px;
	border-radius: 10px;
}

.morpheus img {
	width: 250px;
	border-radius: 10px;
}

.boromir img {
	width: 400px;
	border-radius: 10px;
}

.toy_story img {
	width: 400px;
	border-radius: 10px;
}

body {
	font-family: arial, sans-serif;
	font-weight: 400;
}

ul {
	margin-bottom: 1.3em;
}

li {
	margin-top: 15px;
}


h1,h2,h3 {
	font-family: arial, sans-serif;
	font-weight: bold;
	margin: 5px 0px;
}

h1 {
	color: rgb(255, 255, 255);
	background-color: rgb(76, 102, 164);
	border-radius: 10px;
	padding: 5px 10px;
}

.remark-slide-content h1 {
	font-size: 2.5em;
}

.remark-slide-content h2 {
	font-size: 1.6em;
	margin-bottom: 20px;
}

.remark-slide-content h3 {
	font-size: 1.0em;
}

.slide .content {
	padding: 10px 90px !important;
}

#slideshow .no-highlight {
	font-size: 1em !important;
}

.remark-notes li {
	margin: 0px;
}

.remark-notes {
	font-size: 0.7em
}

blockquote {
	font-style: italic;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
}

blockquote:before {
	opacity: 0.8;
	display: block;
	content: "\201C";
	font-size: 3em;
	position: absolute;
	left: -20px;
	top: -20px;
}

blockquote cite {
	opacity: 0.8;
	font-size: 1em;
	display: block;
	margin-top: 5px;
}

blockquote cite:before {
	content: "\2014 \2009";
}
