.remark-slide .remark-slide-content {
	padding: 1em 1.25em;
}

.remark-slide-content {
}

body {
	font-size: 1.5em;
}

p {
	font-size: 1.4em;
	margin: 0.7em 0 0.4em 0;
}

code {
	font-size: 0.88em;
	background-color: #FFFFFF !important;
}

.remark-code {
	font-size: 0.85em;
}

.hljs-magula .hljs-comment {
	color: #676767;
}

.hljs-magula .hljs-title {
	color: rgb(41, 44, 47);
}

.hljs-magula .hljs-type {
  color: rgb(41, 44, 47);
}

.hljs-magula .hljs-keyword {
  color: #174082;
}

code {
	-moz-border-radius: 5px;
	-web-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.0em;
	font-family: 'Courier New', monospace;
}

.remark-code {
	font-weight: 900;
	font-size: 23.5px;
}

pre code, .codeTable {
	background-color: #FFFFFF;
}

.codeTable {
	font-size: 0.87em;
}

.codeTableSmall {
	font-size: 0.70em;
}

.gap {
	margin-top: 40px;
}

.remark-slide code {
	background: #FFFFFF;
}

.smallCode pre div {
	font-size: 0.85em; 
}

.tinyCode pre div {
	font-size: 0.77em; 
}

.scaryTypeException pre div {
	font-size: 0.63em; 
}


a {
	text-decoration: none;
}

.introFloat {
	position: absolute;
	bottom: 40px;
	right: 40px;
}

.footnote {
	margin-top: 30px;
	font-size: 0.5em;
}

.intro h1 {
	/* margin-top: 150px; */
	line-height: 1.2em;
}

.transition, .transition p {
	color: rgb(255, 255, 255);
}

.transition {
	background-color: rgb(41, 44, 47);
	font-size: 0.8em;
	line-height: 1.7em;
}

.remark-slide-number {
	display: none;
}

.transition .remark-slide-number {
	font-size: 1.25em;
}

.transition a {
	color: rgb(255, 255, 255);
}

.transition img {
	border:1px solid white;
	margin: 0.5em 0;
}

.xkcd img {
	width: 230px;
}

.xkcdTitle {
  text-align: left;
	font-size: 0.8em;
}

.morpheus img {
	width: 385px;
}

.boromir img {
	width: 500px;
}

.toy_story img {
	width: 500px;
}

body {
	font-family: arial, sans-serif;
	font-weight: 400;
}

ul {
	color: rgb(41, 44, 47);
	margin-bottom: 1.3em;
}

li {
	font-size: 1.3em;
	margin-top: 15px;
}


h1, h2, h3 {
	font-family: arial, sans-serif;
	font-weight: bold;
	margin: 5px 0px;
}

h1 {
	color: rgb(255, 255, 255);
}

.remark-slide-content h1 {
	font-size: 2.5em;
}

.remark-slide-content h2 {
	font-size: 1.7em;
	margin-bottom: 20px;
}

.remark-slide-content h3 {
	font-size: 1.0em;
}

.slide .content {
	padding: 10px 90px !important;
}

#slideshow .no-highlight {
	font-size: 1em !important;
}

.remark-notes li {
	margin: 0px;
}

.remark-notes {
	font-size: 0.7em
}

blockquote {
	font-style: italic;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
}

blockquote:before {
	opacity: 0.8;
	display: block;
	content: "\201C";
	font-size: 3em;
	position: absolute;
	left: 0px;
	top: 0px;
}

blockquote cite {
	opacity: 0.8;
	font-size: 1em;
	display: block;
	margin-top: 5px;
}

blockquote cite:before {
	content: "\2014 \2009";
}

.flatAndThenBrace {
  position: absolute;
  top: 63%;
}

.monadsList li {
	font-size: 1.15em;	
}

.questions {
	margin-top: 61px;
	font-size: 1.3em;
}
